// Navigation Styles here
nav{
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 1% auto;
    width: 42%;
    


    h1{
margin-right: 8%;
font-weight: bold;

    }

    a{
       
    margin-right: 2%;
    font-size: 15px;
    color: gray;
    text-decoration: none;
    margin-top: 1%;

    }
   
}

@media @mobile{

    nav{
    
    align-items: center;
    height: 100px;
    width: 470px;
    
   h1{
       display: flex;
       flex-direction: column;
       
       
   }
   
   a{
       display: flex;
       flex-direction: row;
   }
    }}